@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@200;400;500;600;700&family=Work+Sans:ital,wght@0,300;0,400;1,600&display=swap');



* {
    margin: auto;
    margin: 0px;
    margin-bottom: 25px
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}


body {
    padding: 10px;
    font-family: 'Poppins', sans-serif;

    background-color: #212529;
    color: #ffffff;
}



li {
    margin: 10px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;

}

a:link,
a:hover {
    color: #ffb742
}




.main-info{
    color: white;
}

button {
    margin: 10px;
    font-weight: bold;
    border-radius: 20px;
    border-style: none;
    width: 130px;
    height: 40px;
    padding: 5px;
    background-color: #ffb742;
}



.CajaGris {
    display: flex;
    flex-direction: row;


    background-color: #292b2e;
    border-radius: 15px;
}

/* simbolo >  sirve para aplicar un estilo a TODAS las etiquetas  que esten en el primer nivel */

.CajaGris>img {

    margin: 20px;
    width: 30%;

}

.CajaDescripcion {
    display: flex;
    flex-direction: column;
}

.CajaDescripcion span {
    text-align: center;
    margin: 0px;
}

/* filtro first child sirve para aplicar estilos propiedades UNICAMENTE al primer elemento hijo (child) */

.CajaDescripcion span:first-child {
    font-weight: bold;
    color: #ffb742;
    font-size: 20px;

}



main {
    font-family: 'inter';
    text-align: center;
    margin: 50px 10px;


}

h1,
h2 {
    margin: 20px;
}

#subtitulomain {
    display: block;

}

.index-section {
    display: flex;
    margin: 40px;
}

.index-section div {
    height: 120px;
    width: 33%;
    margin: 30px;
}


h2 {
    font-size: 30px;
}

#Minombreamarillo {
    color: #ffb742;
}

h1 {
    font-size: 38px;
}

#subtitulomain {
    font-size: 24px;
}







footer {
    display: flex;
    justify-content: space-between;

    padding: 80px 0px 20px 50px;
    background-color: #1c1c1c;
}



footer ul {
    flex-direction: column;
    padding: 0px;
}

footer span {
    display: block;
}


footer div span:first-child {
    color:#ffb742;
    font-size: 20px;
    font-weight: bold;
}
.enbloque {
    display: block;
}

footer li {
    margin: 2px;
}

.emailBox {

        display: flex;
        /* background: #212529;
        border-radius: 50px;
        color: #7C7C7C;
        height: 40px;
        margin: 10px;
        margin-top: 20px; */
    }

    .emailBox > input {
        border-radius: 50px;
        height: 40px;
        margin-top: 20px;
            
            width: 80%;
            background: #212529;
            color: #7B7B7B;
            font-weight: 700;
            line-height: 100%;
            border: none;
    }

    .sendLogo {
        width: 40px;
        height:40px;
    }


    .body-change-mode{
        background-color: white;
       
    }

    .main-change-mode{
        color: black;
    }
  
    .nav-change-mode{
        color: black;
    }

    .caja-info-change-mode {
        background-color: black;
        color: white;
    }